<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
</head>
<body>
    <h1>{{ title }}</h1>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur repellat nihil corporis facere at! Ratione nihil consequatur illo cum inventore atque minima quod. Recusandae facilis accusamus expedita, dolores architecto odit nesciunt tenetur labore provident nulla! Magni qui facere cum, sapiente necessitatibus nobis, inventore deleniti odio deserunt ipsa beatae. Facere maxime, temporibus quis necessitatibus beatae consequuntur accusantium illo dicta eum dolorem quo, delectus adipisci excepturi praesentium veniam velit at et officia, quidem perferendis nam laboriosam! Neque error molestias recusandae, pariatur tenetur quam iure provident optio libero aperiam architecto doloribus deleniti porro ducimus asperiores voluptate est. Mollitia eum aut necessitatibus totam earum!
</body>
</html>